<div class="donation-page">
  @if (error) {
    <p class="error">{{ error }}</p>
  }

  @if (selectedFund) {
    <div class="donation-layout">
      <!-- Colonne gauche (60%) -->
      <div class="donation-left">
        <!-- 1. Titre de la page -->
        <h1 class="org-name-main">Make a Donation</h1>
        
        <!-- 2. Instruction simple -->
        <p class="org-subtitle">Select a donation amount below and complete the form to support this cause</p>
        
        <!-- 3. Section Options de montant (titre + packages) -->
        <app-donation-amount-options
          [selectedAmount]="selectedAmount"
          (amountSelected)="onPackageSelected($event)"
          (customAmountSelected)="onCustomAmountSelected()">
        </app-donation-amount-options>
        
        <!-- 4. Grande photo représentative -->
        <div class="impact-photo-section">
          @if (selectedFund.photoUrl) {
            <img [src]="selectedFund.photoUrl" [alt]="'Representative photo - ' + selectedFund.name" class="impact-photo">
          } @else {
            <div class="impact-photo-placeholder">
              <svg width="64" height="64" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 19V5C21 3.9 20.1 3 19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19ZM8.5 13.5L11 16.51L14.5 12L19 18H5L8.5 13.5Z" fill="#999"/>
              </svg>
              <p class="placeholder-text">Add a representative photo</p>
            </div>
          }
        </div>
        
        <!-- 5. Description détaillée de ce que permet d'acheter -->
        @if (selectedPackage && !selectedPackage.isCustom) {
          <div class="package-impact-description">
            <h3 class="impact-title">{{ selectedPackage.title }}</h3>
            <p class="impact-intro">Your support will help fund:</p>
            <div class="impact-items-grid">
              @for (item of selectedPackage.impactItems; track item.text) {
                <div class="impact-item">
                  <div class="impact-icon" [innerHTML]="getIconSvg(item.icon)"></div>
                  <span class="impact-text">{{ item.text }}</span>
                </div>
              }
            </div>
          </div>
        }
      </div>
      
      <!-- Colonne droite (40%) -->
      <div class="donation-right">
        <!-- Formulaire donation -->
        <app-donation-form
          [selectedPackage]="selectedPackage"
          [fund]="selectedFund"
          [currentGoalAmount]="currentGoalAmount"
          [goalAmount]="goalAmount"
          (submit)="onDonationSubmit($event)">
        </app-donation-form>
      </div>
    </div>
  } @else {
    <p>Loading funds…</p>
  }
</div>
